@import "tailwindcss";
@source "../../../apps/**/*.{ts,tsx}";
@source "../../../components/**/*.{ts,tsx}";
@source "../**/*.{ts,tsx}";

@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.9791 0 0);
  --foreground: oklch(0.2178 0 0);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.2178 0 0);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.2178 0 0);
  --primary: oklch(0.6231 0.1880 259.8145);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.9673 0.0153 269.9856);
  --secondary-foreground: oklch(0.6231 0.1880 259.8145);
  --muted: oklch(0.9670 0.0029 264.5419);
  --muted-foreground: oklch(0.5510 0.0234 264.3637);
  --accent: oklch(0.8942 0.0540 248.4307);
  --accent-foreground: oklch(0.5651 0.2086 258.5031);
  --destructive: oklch(0.6368 0.2078 25.3313);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.9067 0 0);
  --input: oklch(0.9670 0.0029 264.5419);
  --ring: oklch(0.6231 0.1880 259.8145);
  --chart-1: oklch(0.8606 0.1731 91.9357);
  --chart-2: oklch(0.7106 0.1661 22.2162);
  --chart-3: oklch(0.6231 0.1880 259.8145);
  --chart-4: oklch(0.7090 0.1592 293.5412);
  --chart-5: oklch(0.7729 0.1535 163.2231);
  --radius: 0.5rem;
  --sidebar: oklch(1.0000 0 0);
  --sidebar-foreground: oklch(0.2178 0 0);
  --sidebar-primary: oklch(0.6231 0.1880 259.8145);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.9673 0.0153 269.9856);
  --sidebar-accent-foreground: oklch(0.6231 0.1880 259.8145);
  --sidebar-border: oklch(0.9067 0 0);
  --sidebar-ring: oklch(0.6231 0.1880 259.8145);
  --font-sans: sans-serif;
  --font-serif: serif;
  --font-mono: monospace;
  --shadow-color: #000000;
  --shadow-opacity: 0.05;
  --shadow-blur: 0.5rem;
  --shadow-spread: 0;
  --shadow-offset-x: 0;
  --shadow-offset-y: 0.1rem;
  --letter-spacing: 0em;
  --spacing: 0.25rem;
  --shadow-2xs: 0 0.1rem 0.5rem 0 hsl(0 0% 0% / 0.03);
  --shadow-xs: 0 0.1rem 0.5rem 0 hsl(0 0% 0% / 0.03);
  --shadow-sm: 0 0.1rem 0.5rem 0 hsl(0 0% 0% / 0.05), 0 1px 2px -1px hsl(0 0% 0% / 0.05);
  --shadow: 0 0.1rem 0.5rem 0 hsl(0 0% 0% / 0.05), 0 1px 2px -1px hsl(0 0% 0% / 0.05);
  --shadow-md: 0 0.1rem 0.5rem 0 hsl(0 0% 0% / 0.05), 0 2px 4px -1px hsl(0 0% 0% / 0.05);
  --shadow-lg: 0 0.1rem 0.5rem 0 hsl(0 0% 0% / 0.05), 0 4px 6px -1px hsl(0 0% 0% / 0.05);
  --shadow-xl: 0 0.1rem 0.5rem 0 hsl(0 0% 0% / 0.05), 0 8px 10px -1px hsl(0 0% 0% / 0.05);
  --shadow-2xl: 0 0.1rem 0.5rem 0 hsl(0 0% 0% / 0.13);
  --tracking-normal: 0em;
}

.dark {
  --background: oklch(0.2178 0 0);
  --foreground: oklch(0.9067 0 0);
  --card: oklch(0.2520 0 0);
  --card-foreground: oklch(0.9067 0 0);
  --popover: oklch(0.2520 0 0);
  --popover-foreground: oklch(0.9067 0 0);
  --primary: oklch(0.8606 0.1731 91.9357);
  --primary-foreground: oklch(0.2178 0 0);
  --secondary: oklch(0.3211 0 0);
  --secondary-foreground: oklch(0.7572 0 0);
  --muted: oklch(0.2891 0 0);
  --muted-foreground: oklch(0.6993 0 0);
  --accent: oklch(0.3485 0 0);
  --accent-foreground: oklch(0.8606 0.1731 91.9357);
  --destructive: oklch(0.5771 0.2152 27.3250);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.3485 0 0);
  --input: oklch(0.2891 0 0);
  --ring: oklch(0.8606 0.1731 91.9357);
  --chart-1: oklch(0.8606 0.1731 91.9357);
  --chart-2: oklch(0.7106 0.1661 22.2162);
  --chart-3: oklch(0.6231 0.1880 259.8145);
  --chart-4: oklch(0.7090 0.1592 293.5412);
  --chart-5: oklch(0.7729 0.1535 163.2231);
  --sidebar: oklch(0.2178 0 0);
  --sidebar-foreground: oklch(0.9067 0 0);
  --sidebar-primary: oklch(0.8606 0.1731 91.9357);
  --sidebar-primary-foreground: oklch(0.2178 0 0);
  --sidebar-accent: oklch(0.3485 0 0);
  --sidebar-accent-foreground: oklch(0.8606 0.1731 91.9357);
  --sidebar-border: oklch(0.3485 0 0);
  --sidebar-ring: oklch(0.8606 0.1731 91.9357);
  --radius: 0.5rem;
  --font-sans: sans-serif;
  --font-serif: serif;
  --font-mono: monospace;
  --shadow-color: #000000;
  --shadow-opacity: 0.3;
  --shadow-blur: 0.5rem;
  --shadow-spread: 0;
  --shadow-offset-x: 0;
  --shadow-offset-y: 0.1rem;
  --letter-spacing: 0em;
  --spacing: 0.25rem;
  --shadow-2xs: 0 0.1rem 0.5rem 0 hsl(0 0% 0% / 0.15);
  --shadow-xs: 0 0.1rem 0.5rem 0 hsl(0 0% 0% / 0.15);
  --shadow-sm: 0 0.1rem 0.5rem 0 hsl(0 0% 0% / 0.30), 0 1px 2px -1px hsl(0 0% 0% / 0.30);
  --shadow: 0 0.1rem 0.5rem 0 hsl(0 0% 0% / 0.30), 0 1px 2px -1px hsl(0 0% 0% / 0.30);
  --shadow-md: 0 0.1rem 0.5rem 0 hsl(0 0% 0% / 0.30), 0 2px 4px -1px hsl(0 0% 0% / 0.30);
  --shadow-lg: 0 0.1rem 0.5rem 0 hsl(0 0% 0% / 0.30), 0 4px 6px -1px hsl(0 0% 0% / 0.30);
  --shadow-xl: 0 0.1rem 0.5rem 0 hsl(0 0% 0% / 0.30), 0 8px 10px -1px hsl(0 0% 0% / 0.30);
  --shadow-2xl: 0 0.1rem 0.5rem 0 hsl(0 0% 0% / 0.75);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --font-sans: sans-serif;
  --font-mono: monospace;
  --font-serif: serif;
  --radius: 0.5rem;
  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  --tracking-normal: var(--tracking-normal);
  --shadow-2xl: var(--shadow-2xl);
  --shadow-xl: var(--shadow-xl);
  --shadow-lg: var(--shadow-lg);
  --shadow-md: var(--shadow-md);
  --shadow: var(--shadow);
  --shadow-sm: var(--shadow-sm);
  --shadow-xs: var(--shadow-xs);
  --shadow-2xs: var(--shadow-2xs);
  --spacing: var(--spacing);
  --letter-spacing: var(--letter-spacing);
  --shadow-offset-y: var(--shadow-offset-y);
  --shadow-offset-x: var(--shadow-offset-x);
  --shadow-spread: var(--shadow-spread);
  --shadow-blur: var(--shadow-blur);
  --shadow-opacity: var(--shadow-opacity);
  --color-shadow-color: var(--shadow-color);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }
}